body {
  width: 700px;
  padding:100px;
  margin-left:auto;
  margin-right:auto;
  background-color: #f3f3f0;
  border:2px solid #888;
}

h1 {
  padding: 20px 0px 10px 0px;
}

/* This changes color and removes default underline in links  */

a {
color: #69CBBB;
text-decoration: none;
}

/* Centers images */

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* When you put a period in front of a CSS declaration, it indicates you are
creating a new class. We can apply this to div elements to create different
portfolio entries */

.portfolio-item {
  margin-top: 60px;
  padding: 40px;
  background-color: #f7f7f7;
}
