.header {
  padding: 40px;
  text-align: center;
  background: #b366ff;
  color: black;
  font-family: 'Jura', sans-serif;
  font-weight:light
  font-size: 40px;
}

/* Style the navigation bar */
.navbar {
  width: 100%;
  background-color: #1a001a;
  font-family: 'Spinnaker', sans-serif;
	text-align: center;
  overflow: auto;
}

nav li{
	float:left;
	display:inline;
}
nav {
	display: inline-block;
}


/* Navbar links */
.navbar a {
  float: center;
  text-align: center;
  padding: 12px;
  color: white;
	text-align: center;
  text-decoration: none;
  font-size: 20px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #000;
}

/* Current/active navbar link */
.active {
  background-color: #1a001a;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
